<html>

<link type="text/css" rel="stylesheet" href="/css/007.css">

<body>


<img id="logo" src="img/007.svg">

<!-- <figure class="tint"> -->
<img id="logo-red" src="img/007.svg">
<!-- </figure>
 -->

<section id="logo-area">
<p id="title">SVG_ALL</p>
<p style="font-family: 'bondlogos'; font-size: 20em; color: red;"> b v g </p>
<img src="/img/official007.gif" width="1000px">
</section>


</body>
</html>