<html>

<link type="text/css" rel="stylesheet" href="/css/007.css">

<body>


<img id="logo" src="img/007.svg">

<!-- <figure class="tint"> -->
<img id="logo-red" src="img/007.svg">
<!-- </figure>
 -->

<section>
<p>SVG_ALL</p>
</section>


</body>
</html>