<html>
<link type="text/css" rel="stylesheet" href="/css/007.css">
<body>

<img id="logo-raster" src="img/official007.gif">

<img id="logo-raster-red" src="img/official007.gif">

<section id="logo-area">
<p id="title">SVG_ALL</p>
</section>

</body>
</html>