<html>

<link type="text/css" rel="stylesheet" href="/css/007.css">

<body style="background-image: url('img/bondhd.jpg'); background-size: 100%;" >
 <!-- -->
<img id="logo" src="img/009.svg">

<img id="logo-red" src="img/009.svg">

<section id="logo-area">
<p id="title">SVG_ALL</p>
</section>

<section id="links-area">
<a href="/007">start</a> i <a href="/008">vs gif..</a> i <a href="https://github.com/benhutchinson/SVG#anchor">what</a> i <a href="/009">bond</a> i <a href="/">lufc</a> i <a href="http://www.connoratherton.com/walkway">walkway.js</a> i <a href="https://beninst.herokuapp.com/users/sign_in">my walkway</a> i <a href="http://snapsvg.io/demos/">snap</a> i <a href="https://github.com/benhutchinson/SVG">github</a> i by ben hutchinson
</section>

</body>
</html>