<html>

<link type="text/css" rel="stylesheet" href="/css/007.css">

<body>

<img id="logo" src="img/009.svg">

<img id="logo-red" src="img/009.svg">

<section id="logo-area">
<p id="title">SVG_ALL</p>
</section>

</body>
</html>