<html>

<link type="text/css" rel="stylesheet" href="/css/reset.css">
<link type="text/css" rel="stylesheet" href="/css/main.css">

<script src="/js/snap.svg-min.js"></script>
<body>

<script>

var s = Snap(700, 700);

Snap.load("/img/lufc.svg", function(svg) {
  svg.select("#l_letter").attr({fill: "lime"});
  svg.select("path[style='fill:#ffffff;fill-rule:evenodd']").attr({style: "fill:yellow;fill-rule:evenodd"});
  var uLetter = svg.select("#u_letter");
  uLetter.animate({fill: "#0560a7"}, 2000);
  uLetter.animate({transform: "translate(-700.0264985,-900.47269935) scale(4)"}, 2000, mina.bounce);
  uLetter.animate({stroke: "white", strokeWidth: 0.4}, 3000);
  var badge = svg.select("#Ebene_1");
  badge.animate({x: "20px", y: "30px", opacity: 1}, 2000, mina.elastic);
  badge.node.onclick = function(){
    badge.animate({x: "0px", y: "0px", opacity: 1}, 1000);
  };
  uLetter.drag;  
  // uLetter.filter.grayscale(1);
  // badge.filter.shadow(10, 20, 10, "black", 1));
  s.append(svg);
});


</script>
</body>
</html>