<html>

<link type="text/css" rel="stylesheet" href="/css/reset.css">
<link type="text/css" rel="stylesheet" href="/css/main.css">

<script src="/js/snap.svg-min.js"></script>
<body>

<img src="/img/lufc.svg" id="lufc_logo">

test

<svg xmlns="http://www.w3.org/2000/" svg width="300" height="300" >
   <text style="font-size:30; stroke: blue" x="10" y="170">
    Hello SVG World
  </text>
 </svg>


<script>

var lufc = Snap("#lufc_logo");

var s = Snap(300, 300);

Snap.load("/img/lufc.svg", function (f) {
    s.append(f);
});

var bigCircle = s.circle(150, 150, 100);

bigCircle.attr({
  stroke: '#000',
  strokeWidth: 5
});

lufc.attr({
  stroke: '#000',
  strokeWidth: 5
});


</script>
</body>
</html>