<html>

<link type="text/css" rel="stylesheet" href="/css/blend2.css">

<body>

<section id="background-image">
</section>

<section id="container">
<div id="content">
	
	coffee shop web-sites are easy

</div>
</section>

</body>
</html>