@font-face {
    font-family: 'skyfall';
    src: url('/fonts/Skyfall Done.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'bondlogos';
    src: url('/fonts/bond.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'movie';
    src: url('/fonts/Sf Movie Poster.ttf') format('truetype');
    font-style: normal;
}

body { 
	width: 100%;
	height: 100%;
	margin-top: 0px; 
	margin-left: 0px; 
}

section#logo-area {
	position: absolute;
	display: inline-block;
	top: 40%;
	left: 50%;
	z-index: 20;
}

p#title {
	font-family: 'skyfall';
	font-size: 5em;
}

p#title:hover {
	color: #6A0000;
	opacity: 1;
}

section#links-area {
  position: fixed;
  display: inline-block;
  top: 100%;
  left: 0%;
  background-color: #333;
  width: 100%;
  text-align: center;
  margin-top: -50px; 
  height: 50px;
  font-family: 'movie';
  font-size: 50px;
  padding-top: 14px;
  z-index: 20;
}

#links-area a {
  text-decoration: none;
  color: darkgray;
}

#links-area a:hover {
  text-decoration: none;
  color: white;
}

#logo {
	height: calc(100% - 24px);
	display: inline-block;
	position: absolute;
	top: -7px;
	left: 0px;
	overflow: hidden;
	-webkit-animation: move 9s ease-in-out infinite alternate;
	opacity: 0.5;
	z-index: 10;
}

#logo-red {
  height: calc(100% - 25px);
	display: inline-block;
	position: absolute;
	top: -7px;
	left: 0px;
	overflow: hidden;
	-webkit-animation: move 7s ease-in-out 2s infinite alternate; 
	opacity: 0.7;
}

#logo-raster {
  height: calc(400% - 30px);
	display: inline-block;
	position: absolute;
	top: -150%;
	left: 0px;
	overflow: hidden;
	-webkit-animation: move 9s ease-in-out infinite alternate;
	opacity: 0.5;
	z-index: 10;
}

#logo-raster-red {
  height: calc(400% - 30px);
	display: inline-block;
	position: absolute;
	top: -150%;
	left: 0px;
	overflow: hidden;
	-webkit-animation: move 7s ease-in-out 2s infinite alternate; 
	opacity: 0.7;
}

@-webkit-keyframes move {
    0% {left: 0px;}
    100% {left: -180%; opacity: 0.85;}
}

/*
.tint {
  /*position: relative;*/
  /*float: left;*/
  /*cursor: pointer;*/
/*  	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden; 
  	-webkit-animation: move 9s ease-in-out 3s infinite alternate;
	-webkit-filter: invert(100%);
	opacity: 0.7;*/
/*}*/

/*
.tint:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(100,255,255, 1);
    -webkit-mask: url("/img/007.svg") top left / cover;
  -moz-transition: background .3s linear;
  -webkit-transition: background .3s linear;
  -o-transition: background .3s linear;
  transition: background .3s linear;
}*/
