@font-face {
    font-family: 'frizquadratatt';
    src: url('/fonts/frizquadratatt.ttf') format('truetype');
    font-style: normal;
}

body {
  font-family: 'frizquadratatt';
  margin: 25px;
}

#my_comment {
  fill: none;
  stroke-dasharray: 460;
  stroke-dashoffset: 465;
  -webkit-animation: dash 6s ease-in-out forwards;
}

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

#blurred {
    filter: url(#css_blur);
}

.mini {
  border: 1px solid black;
  clip-path: polygon(30px 70px, 70px 100px, 100px 200px);
    /*clip-path: url(#svgPath);*/
}

#ExternalRect {
   stroke: black;
   stroke-dasharray: 5,10;
   stroke-width: 10;
   fill: white;
}

#ExternalRect:hover {
  stroke: blue;
  fill: yellow;
}

#leedsunitedtext {
  transform: rotateX(0deg) rotate(2deg) rotateY(-8.5deg) scale(1);
}

#textwrapper {
  -webkit-perspective: 90px;
  transition: all 4s ease-in-out;
}

#textwrapper:hover {
  transform: scaleX(-0.5);
}

#test {
  transition: all 2s ease-in;
}

#test:hover {
  stroke: white;
  stroke-width: 5px;
}