@font-face {
    font-family: 'frizquadratatt';
    src: url('../frizquadratatt.ttf') format('truetype')
    font-style: normal;
}

body {
  font-family: 'frizquadratatt';
  margin: 25px;
  background-color: #0560a7;
}